@import url('https://fonts.googleapis.com/css?family=Shrikhand')

;#header-icon {
  font-family: 'Shrikhand', cursive;
}

#home-body-image {
  height: 400px;
  background-image: url(../img/lookingup.png);
  background-size: cover;
}

.full-width {
  width: 100% !important;
}

.hero-image {
  background-image: url(../img/map.jpg);
  background-position: center;
  background-size: cover;
}
